<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
     
  </head>
  <body onload="category()">
    <div id="categ"></div>
   
  </body>

  <script src="javascripts/category.js"></script>
</html>


